.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Todo-App {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

ul {
  padding: 0px;
}

li{
  list-style-type: none;
  padding: 1rem;
}

.error {
  color: red;
}

li span.delete-item {
  visibility: hidden;
}

span.delete-item a{
  text-decoration: none;
  color: red;
  font-weight: bold;
}

li:hover span.delete-item {
  visibility: visible;
}

.Footer a {
  padding-left:  1rem;
  padding-right: 1rem;
}


.Footer a.active {
  font-weight: bold;
}

.activeClass {
  text-decoration: line-through;
}
